repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v4.4.0'
    hooks:
      - id: check-yaml
        args:
          - --allow-multiple-documents
        exclude: deploy/helm
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-vcs-permalinks
        exclude: ^dist/
      - id: trailing-whitespace
        exclude: ^schemas/spec|^dist/
      - id: end-of-file-fixer
        exclude: ^schemas/spec|^dist/

  - repo: https://github.com/Jarmos-san/shellcheck-precommit
    rev: 'v0.2.0'
    hooks:
      - id: shellcheck-system
        name: shellcheck

  - repo: local
    hooks:
      # this is effectively running `yarn run all` but individually so we can identify which step failed
      - id: prettier
        name: prettier
        entry: yarn run prettier:check
        pass_filenames: false
        types:
          - ts
        language: system
        exclude: ^dist/
      - id: eslint
        name: eslint
        entry: yarn run lint
        pass_filenames: false
        language: system
        types:
          - ts
        exclude: ^dist/
      - id: build-dist
        name: build dist package
        entry: yarn run package
        pass_filenames: false
        types:
          - ts
        language: system
      - id: build-mockserver
        name: build mockserver package
        entry: yarn run package:mockserver
        pass_filenames: false
        types:
          - ts
        language: system
      - id: unit tests
        name: unit tests
        entry: yarn run test
        pass_filenames: false
        language: system
        types:
          - ts
        exclude: ^dist/

  - repo: https://github.com/specklesystems/pre-commit
    rev: '0.2.0'
    hooks:
      - id: ggshield-not-ci
        name: ggshield
